/* Styles for Meal Tracker app */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #885053;
    --color2: #023C40;
    --color3: #EDF7D2;
    --color4: #F18F01;
    --color5: #F3C677;
    --color6: lightgreen;
    --ghost-white: #FBFBFF;
    --gunmetal: #16262E;
    --charcoal: #2E4756;
    --cool-grey: #9FA2B2;
    --cerulean: #3C7A89;
    --peach: #F1BF98;
    --sage: #BACBA9;
    --dim-grey: #717568;
    --van-dyke: #38302E;
    --black-olive: #3F4739;
    --nyanza: #E1F4CB;
    --dark-green: #17301C;
    --asparagus: #698F3F;
    --apple-green: #72B01D;
    --mindaro: #C8E087;
    --lime: #CEFF1A;
    --deep-sky-blue: #30C5FF;
    --silver-lake-blue: #6C91BF;
    --air-force-blue: #628395;
    --earth-yellow: #DBAD6A;
    --carrot-orange: #F79824;
    --rufous: #A33B20;
    --davy-gray: #575761;
    --prussian-blue: #172A3A;
    --licorice: #0D0106;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: tan;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--davy-gray);
}

main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-shadow: 5px 5px 5px var(--licorice);
    background-image: radial-gradient(var(--prussian-blue), var(--black-olive));
    color: var(--mindaro);
    font-family: "sans-serif";
}

h2 {
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-shadow: 3px 3px 3px var(--licorice);
    background-image: radial-gradient(var(--dark-green), var(--black-olive));
    color: var(--earth-yellow);
}

.form {
    background-image: linear-gradient(to top right, var(--dark-green) -100%, var(--sage), var(--dark-green) 200%);
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: clamp(1rem, 2vw, 1.3rem);
    padding: 1rem;
    gap: 0.5rem;
}

.form input {
    width: 100%;
    padding: 4px;
    font-size: 1.2rem;
    background-color: var(--color3);
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--asparagus);
}
.form label {
    width: 100%;
    padding: 4px;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.form select {
    background: var(--color2);
    color: var(--color5);
    font-size: clamp(1rem, 2vw, 1.3rem);
    padding: 0.2rem;
}

.form button {
    background-color: var(--color2);
    color: var(--color3);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.form button:hover {
    box-shadow: 0px 0px 10px 1px var(--lime);
    color: var(--lime);
}

.checkbox {
    transform: scale(1.5);
}

.checkbox-field {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-field input {
    width: auto !important;
}

.checkbox-field label {
    width: auto !important;
}

.edit-form-wrapper {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#meals-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    background-color: var(--dim-grey);
    padding: 3rem;
}

#foods-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    background-color: var(--dim-grey);
    padding: 3rem;
}


.meal-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--earth-yellow);
    border-radius: 0.5rem;
    border: 1px solid var(--carrot-orange);
    padding: 0.5rem;
    gap: 0.5rem;
}

.meal-items p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--color5);
    font-size: clamp(1rem, 2vw, 1.35rem);
    border-radius: 4px;
    padding: 4px 8px;
    gap: 0.5rem;
}

.meal-item-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.meal-card {
    width: clamp(280px, 40vw, 500px);
    background-color: var(--dark-green);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color4);
}

.food-card {
    width: clamp(250px, 30vw, 300px);
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color4);
}

.remove-button {
    padding: 0.3rem;
    border-radius: 4px;
    background-color: black;
    color: orangered;
    cursor: pointer;
}

.amount-p {
    color: var(--color2);
}

.foodname-p {
    color: var(--licorice);
    font-weight: 600;
    flex-grow: 1;
}

.calories-p {
    color: darkred;
}

.stats-p {
    color: var(--carrot-orange);
}

.meal-timestamp {
    font-size: 0.8rem;
    color: var(--sage);
}

#meal-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background: var(--black-olive);
    font-size: 1.2rem;
}

#meal-filters select, #meal-filters input {
    background-color: var(--gunmetal);
    color: var(--lime);
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

#meal-filters label {
    color: white;
}

#meal-filters button {
    background-color: var(--prussian-blue);
    color: var(--sage);
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border-color: var(--sage);
    cursor: pointer;
}

#meal-filters button:hover {
    color: var(--nyanza);
    border-color: var(--nyanza);
}


